p{
	color: red;
	font-size: 22pt;	
}
#gruby_michalak
{
font-size:17pt;
color: green;
font-weight:1000;
}

#dlawszyskich_michalak
{
color: yellow;
font-size: 10pt
font-family: Arial;
}

